[Unit]
Description=Github webhook
After=network.target

[Service]
Environment=NODE_PORT=4000
Type=simple
User=node
ExecStart=/usr/bin/node /home/node/desafio/aplicacao/webhook.js
Restart=on-failure

[Install]
WantedBy=multi-user.target