cd /home/node/desafio/
contexto=$(git rev-parse --short HEAD)
cp -rp aplicacao aplicacao$contexto
git pull origin master
grep require *.js -R | grep -v "require('./" | grep -v "require('/" | grep -v ".js')" | awk -F"require" '{print $2}' | cut -d"'" -f2 | uniq | while read line
do 
npm install $line --save
done
cd /home/node/desafio/aplicacao
cp index.js index$contexto.js
sed -i 's/app.listen(3000/app.listen(3001/' index$contexto.js
pm2 start index$contexto.js --name $contexto -i 1
sleep 10
verifica=$(pm2 ls | grep $contexto | awk  '{print $18}')
if [ $verifica == "online" ]
then
    pm2 stop $contexto && pm2 delete $contexto
    rm -f index$contexto.js
    pm2 reload {{ appname }}
fi