function salvavalores{
    xold=$x
    xcompleteold=$vcomplete
    vtimeold=$vtime
    vlongestold=$vlongest
}
function resultado {
    echo "O Limite suportado pelo servidor foi:" >> /home/node/desafio/instalaservidor/RESULTADO_STRESS.txt
    echo "Conexões simultâneas: $xold." >> /home/node/desafio/instalaservidor/RESULTADO_STRESS.txt
    echo "Tempo Médio de resposta: $vtimeold." >> /home/node/desafio/instalaservidor/RESULTADO_STRESS.txt
    echo "Maior Tempo de resposta: $vlongestold." >> /home/node/desafio/instalaservidor/RESULTADO_STRESS.txt
}
for x in {10..1000..10}
do
    vteste=$(ab -q -n50000 -c$x https://{{ appdomain }}/)
    vcomplete=$(echo "$vteste" | grep "Complete" | awk '{print $3}')
    vfailed=$(echo "$vteste" | grep "Failed" | awk '{print $3}')
    vtime=$(echo "$vteste" | grep "Time per" | head -n1 | awk '{print $4}' | cut -d"." -f1)
    vlongest=$(echo "$vteste" | grep "longest" | awk '{print $2}')
#echo $vcomplete $vfailed $vtime $vlongest
if [[ $vcomplete -ne 50000 ]]; then
    resultado
    break
else
    salvavalores
fi
if [[ $vfailed -ne 0 ]]; then
    resultado
    break
else
    salvavalores
fi
if [[ $vtime -gt 300 ]]; then
    resutado
    break
else
    salvavalores
fi
if [[ $vlongest -gt 1000 ]]; then
    resultado
    break
else
    salvavalores
fi
done
